/* This file is for your main application css. */
@import "../node_modules/sanitize.css/sanitize.css";
@import "../node_modules/reflex-grid/scss/reflex";
@import "../node_modules/nprogress/nprogress.css";

$purple: #702882;
$green: #23BE00;
$blue: #0089DE;
$red: #DE4F3E;

[class*="col-"] {
  display: flex;
}

@font-face {
  font-family: 'Buffon';
  src: local('Buffon Regular'), local('Buffon-Regular'),
  url('/fonts/subset-Buffon-Regular.woff2') format('woff2'),
  url('/fonts/subset-Buffon-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Buffon';
  src: local('Buffon Bold'), local('Buffon-Bold'),
  url('/fonts/subset-Buffon-Bold.woff2') format('woff2'),
  url('/fonts/subset-Buffon-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Baloo 2', sans-serif;
}

button.wacko-btn {
  box-shadow: none;
  outline: none;
  font-size: 1em;
  padding: .25em .75em;
  background-color: lighten(black, 70);
  border-radius: 6px;
  background-image: none;
  transition: background 0.05s ease-in;
  border: 1px solid rgba(black, 0.25);
  position: relative;
  color: white;
  text-shadow: 0px 0px 1px rgba(black, 0.75);
  &.btn-positive {
    background-color: $green;
  }
  &.btn-negative {
    background-color: $red;
  }
  &.btn-primary {
    background-color: $purple;
  }
  &:hover, &:focus {
    transition: background-color 0.15s ease-in;
    cursor: pointer;
  }
  &:active {
    box-shadow: inset 0 2px 2px rgba(black, 0.5);
    transition: none;
  }
  &[disabled] {
    pointer-events: none;
    background-color: gray;
  }
  &.btn-block {
    display: block;
    width: 100%;
  }
}

div.dimmer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(black, 0.75);
  z-index: 1000;
  height: 100%;
  width: 100%;
}

.text-brand {
  font-family: Buffon, serif;
}

span.status-indicator {
  border-radius: 30px;
  height: .75em;
  width: .75em;
  display: inline-block;
  background-color: gray;
  transition: background-color 0.25s ease-in-out;
  &.status-ready {
    background-color: $green;
  }
  &.status-not-ready {
    background-color: $red;
  }
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  background-image: url('/images/table.jpg');
  position: relative;
  font-size: 18px;
  &:before {
    content: '';
    position: fixed;
    top: 15px;
    right: -75px;
    width: 25vw;
    height: 25vw;
    background-size: contain;
    background-repeat: no-repeat;
    //background-image: url('/images/cup.png');
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: relative;
  overflow: hidden;
  background: rgba(white, 0.50);
  padding: .25rem 1rem;
  box-shadow: 2px 2px 6px rgba(black, 0.25);
  .brand {
    display: inline-block;
    height: 100%;
    width: auto;
  }
}

header.game-header {
  align-items: center;
  background: none;
  box-shadow: none;
  .brand {
    flex: 0 0 auto;
  }
  .flash-container {
    flex: 1 1 auto;
    margin-left: 1em;
  }

  .flash {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    border-radius: 100px;
    &.flash-important{
      background: $green;
    }
    &.flash-normal {
      background: rgba(white, 0.5);
      color: $purple;
    }
  }
}

main {
  padding: 1rem 2rem;
  min-height: calc(100vh - (108px + 2rem));
}

.pure-button {
  padding: .75em 1.5em;
  text-shadow: 0 1px 1px rgba(black, 0.25);
  border-radius: 4px;
  &.pure-button-primary {
    background-color: $blue;
  }
}
.button-success {
  color: white;
  background-color: $green;
}

.container {
  display: flex;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  &.v-center {
    align-items: center;
  }
  &.h-center {
    justify-content: center;
  }
}

.banner {
  font-size: 2rem;
  background: white;
  min-width: 50%;
  text-align: center;
  padding: .5em 1em;
  border-radius: 4px;
  &.primary {
    background: $purple;
    color: white;
  }
}

div.lobby-wrapper {
  display: flex;
  flex-direction: column;
  .player-list {
    align-self: center;
    margin-top: 2rem;
    background: white;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(black, 0.5);
    .row {
      display: flex;
      height: 3em;
      align-items: center;
      &:not(:last-child) {
        border-bottom: 1px solid lightgray;
      }
      .name {
        flex: 1 1 auto;
        margin-right: 4rem;
      }
    }
  }
}

div#game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

div.actions-container {
  flex-direction: column;
  button#discard {
    margin-top: 1rem;
    width: 175px;
  }
  .card {
    height: 175px;
    width: 300px;
    transition: all 0.25s cubic-bezier(0.22, 1, 0.36, 1);
    position: relative;
    .card-content {
      border: 1px solid rgba(black, 0.15);
      border-radius: 4px;
      font-family: Buffon, serif;
      font-size: 3em;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      background: white;
      position: relative;
      z-index: 2;
    }
    &.card-deck {
      margin-top: 2rem;
      .card-content {
        background: radial-gradient($purple, darken($purple, 20));
        color: white;
        text-transform: uppercase;
        font-weight: normal;
      }
    }
    .card-helper {
      position: absolute;
      top: 0;
      margin-bottom: 1em;
      background: rgba(black, 0.5);
      color: white;
      padding: .25em .5em;
      border-radius: 2px;
      left: 50%;
      transform: translateX(-50%);
      font-family: sans-serif;
      font-weight: normal;
      opacity: 0;
      transition: all 0.25s cubic-bezier(0.22, 1, 0.36, 1);
      z-index: 1;
      &.bottom {
        top: unset;
        bottom: 0;
        margin-top: 1em;
        margin-bottom: unset;
      }
    }
    &.actionable:hover {
      transform: scale(1.1);
      box-shadow: 2px 4px 6px rgba(black, 0.55);
      transition: all 0.35s cubic-bezier(0.22, 1, 0.36, 1);
      cursor: pointer;
      .card-helper {
        transition: all 0.35s cubic-bezier(0.22, 1, 0.36, 1);
        opacity: 1;
        &.top {
          transform: translate(-50%, calc(-100% - 10px));
        }
        &.bottom {
          transform: translate(-50%, calc(100% + 10px));
        }
      }
    }
  }
}

div.rack-container, div.actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.rack {
  display: flex;
  flex-direction: column;
  width: 400px;
  background: $blue;
  padding-left: .5rem;
  border-radius: 4px;
  transform-style: preserve-3d;
  transform: perspective(200px);
  box-shadow: 2px -2px 4px rgba(black, 0.5);
  .row {
    display: flex;
    padding: 1rem 0;
    &:hover {
      .scale {
        color: white;
        text-shadow: 0 1px 0 darken(white, 70);
        transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
      }
    }
    .scale {
      flex: 0 0 35px;
      font-size: 1.25em;
      text-align: center;
      color: darken($blue, 25);
      text-shadow: 0 1px 0 darken($blue, 40);
      transform: skewX(-1deg) scaleY(.9);
    }
    .card-slot {
      margin-left: 1rem;
      position: relative;
      flex: 1 0 auto;
      z-index: 1;
      .rack-card {
        position: absolute;
        background: linear-gradient(to top, lighten(black, 65), white);
        border-radius: 3px;
        width: 110%;
        height: 75px;
        bottom: 0;
        left: 0;
        transform: scaleY(.85) skewX(-2deg);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        transition: bottom 0.25s cubic-bezier(0.22, 1, 0.36, 1);
        font-family: Buffon, sans-serif;
        font-weight: bold;
        &.actionable:hover {
          bottom: 10px;
          transition: bottom 0.5s cubic-bezier(0.22, 1, 0.36, 1);
          cursor: pointer;
          &:after {
            bottom: -10px;
            transition: bottom 0.5s cubic-bezier(0.22, 1, 0.36, 1);
          }
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: calc(90% + 4px);
          height: 8px;
          background: $blue;
          border-top: 2px solid darken($blue, 20);
          transition: bottom 0.25s cubic-bezier(0.22, 1, 0.36, 1);
        }
      }
    }
  }
}

button#wacko {
  font-family: Buffon, serif;
  font-weight: bold;
  font-size: 1.5em;
  transition: all .5s ease-out;
  &:hover {
    background-color: $purple;
    transform: scale(1.2);
    transition: all .25s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
}

div.win-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 4px;
  padding: 1rem 3rem;
  text-align: center;
  width: 90vw;
  max-width: 700px;
  .text-brand {
    color: purple;
    margin: .25em 0;
  }
  .win-info {
    h2 {
      margin: .25em 0;
    }
  }
  div.winner-rack {
    width: 230px;
    display: inline-block;
    margin-top: .5em;
    div.row {
      padding: .25rem;
      .card-slot {
        .rack-card {
          height: 50px;
          font-size: 1.5em;
        }
      }
    }
  }
}

// progress bar
#nprogress {
  .bar {
    background: $purple;
    height: 3px;
  }

  .peg {
    box-shadow: 0 0 10px $purple, 0 0 5px $purple;
  }

  .spinner-icon {
    border-top-color: $purple;
    border-left-color: $purple;
  }
}

@media screen and (max-width: $reflex-sm) {
  header {
    height: 30px;
  }
}


/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

@media screen and (max-width: $reflex-md) {
  header {
    height: 40px;
  }

  header.game-header {
    .flash {
      font-size: 1em;
    }
  }

  div.rack {
    min-width: 230px;
    max-width: 60vw;
    div.row {
      padding: .25rem;
      .card-slot {
        .rack-card {
          height: 50px;
          font-size: 1.5em;
        }
      }
    }
  }

  div.actions-container {
    flex-direction: row;
    .card {
      height: 100px;
      width: unset;
      flex: 1 1 0;
      &.card-deck {
        margin-top: 0;
        margin-left: 1rem;
        font-size: .75em;
      }
      .card-helper {
        display: none;
      }
      .card-content {
        font-size: 1.5em;
      }
    }
  }
}

button.wacko-btn {
  box-shadow: none;
  outline: none;
}
